<meta charset="UTF-8">
<title>Pets-Nanny</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css'>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<style>
  body { 
	font-family: "Nunito";
	font-size: x-large;
	/* padding-top:50px; */
	max-width: 1700px !important;
  }
</style>