
<label class="form-label" for="about_me"><strong>About me</strong><br></label>
<div class="mb-3"></div><textarea class="aboutme" id='about_me' placeholder="Enter your bio" maxlength="250" name="about_me"></textarea>

<style>
.aboutme{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

</style>