<!-- script area city -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- causing body problem the link below -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 


<div class="container mt-5" >
    <strong>Area/Cities</strong>
    <div class="mb-3 float-center" id="field_2"> 
            <select class="selectpicker" id='area_city' multiple data-live-search="true" name ="area_city" >
                <option disabled>Area</option>
                <option>South</option>
                <option>Center</option>
                <option>North</option>
                <option disabled>Cities</option>
                <option>Jerusalem</option>
                <option>Tel Aviv</option>
                <option>Haifa</option>
                <option>Petah Tikva</option>
                <option>Ashdod</option>
                <option>Netanya</option>
                <option>Beersheba</option>
                <option>Bnei Brak</option>
                <option>Holon</option>
                <option>Ramat Gan</option>
                <option>Rehovot</option>
                <option>Ashkelon</option>
                <option>Bat Yam </option>
                <option>Beit Shemesh</option>
                <option>Kfar Saba</option>
                <option>Herzliya</option>
                <option>Hadera</option>
                <option>Modi'in-Maccabim-Re'ut</option>
                <option>Nazareth</option>
                <option>Ramla</option>
                <option>Lod</option>
                <option>Hod HaSharon</option>
                <option>Givatayim</option>
                <option>Kiryat Atav</option>
                <option>Nahariya</option>
                <option>Kiryat Gat</option>
                <option>Eilat</option>
                <option>Rosh HaAyin</option>
                <option>Afula</option>
                <option>Nss Ziona</option>
                <option>El'ad</option>
                <option>Ramat HaSharon</option>
                <option>Yavne</option>
                <option>Tiberias</option>
                <option>Tayibe</option>
                <option>Kiryat Bialik</option>
                <option>Kiryat Ono</option>
                <option>Ma'ale Adumim</option>
                <option>Or Yehuda</option>
                <option>Safed</option>
                <option>Netivot</option>
                <option>Dimona</option>
                <option>Sakhnin</option>
                <option>Yehud-Monosson</option>
                <option>Ofakim</option>
                <option>Giv'at Shmuel</option>
                <option>Migdal HaEmek</option>
                <option>Sderot</option>
                <option>Rishon LeZion</option>
                <option>Nesher</option>
                <option>Kiryat Shmona</option>
                <option>Yokneam Illit</option>
                <option>Kiryat Malakhi</option>
                <option>Ariel</option>
                <option>Or Akiva</option>
                <option>Beit She'an</option>
                <option>Ra'anana</option>
                <option>Kiryat Yam</option>
                <option>Arad</option>
            </select>
    </div>
</div>
<style>
.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 28px;
    z-index: 1;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
</style>