<head>
	<link rel="stylesheet" href="styling/footer.css"></link>
  </head>
  <div class="bottom-nav">
	  <div class="container">
		  <input type="button" id="myBtn" onclick="myBtn()" value="About Us"></input>
		  <!-- The Modal -->
			  <div id="myModal" class="modal">
				  <!-- Modal content -->
				  <div class="modal-content">
					  <span class="close" onclick='close1()'>&times;</span>
					  <h1>About Us</h1>
					  <br>
					  <p>Aviva Malko, Shir Halimi, Yoni Yifrach and Coral Avital developed the site in 2022, in order to address the problem of keeping pets while their owners are not at home and can care for them.</p>
					  <p>The site is for people who love pets and want to keep other people's pets for money , and for people who need to keep their pets.</p>
					  <p>Pet owners can travel safely knowing that they have promised the best care for their best friend.
					  It’s a win-win for everyone… especially for the pets!</p>
				  </div>
			  </div>
			  
			  <!-- The Modal -->
			  <input type="button" id="myBtn1" onclick="myBtn1()" value="Help"></input>
			  <div id="myModal1" class="modal">
  
			  <!-- Modal content -->
			  <div class="modal-content">
				  <span class="close" onclick='close2()'>&times;</span>
				  <h1>Help</h1>
				  <p><strong>1. To register on the site as a provider</strong></p>
				  <p>a. Click on user button </p>
				  <p>b. Click on Login button </p>
				  <p>c. Enter details </p>
				  <p>d. Select "As a provider"</p>
				  <p>e. Fill the details in the next page</p>
  
				  <p><strong>2. To register on the site as a client</strong></p>
				  <p>a. Click on user button</p>
				  <p>b. Click on Login button</p>
				  <p>c. Enter details</p>
				  <p>d. Select "As a client"</p>
				  <p>e. Fill the details in the next page</p>
					  
				  <p><strong>3. To log out from account</strong></p>
				  <p>a. Click on user button</p>
				  <p>b. Click on Logout button</p>
					  
				  <p><strong>4. To find a provider service</strong></p>
				  <p>a. Click on Home button</p>
				  <p>b. Search provider by the filters</p>
				  <p>c. Choose specific provider and clickes on Invite</p>
					  
				  <p><strong>5. To see reservations</strong></p>
				  <p>a. Click on user button</p>
				  <p>b. Click on "My  schedule"</p>
				  <p>c. Choose date filter the reservations by this date</p>
					  
				  <p><strong>6. To cencel reservation</strong></p>
				  <p>a. Click on user button </p>
				  <p>b. Click on "My  schedule"</p>
				  <p>c. Choose a specific reservation</p>
				  <p>d. Click on Cencel</p>
  
				  <br>
				  <h3>If you have any problem or question you can call us:</h3>
				  <h3>+972546777442/ +972585885489</h3>
			  </div>
  
			  </div>
  
			  <input type="button" id="myBtn" onclick="myBtn2()" value="Terms"></input>
  
			  <!-- The Modal -->
			  <div id="myModal2" class="modal">
  
				  <!-- Modal content -->
				  <div class="modal-content">
					  <span class="close" onclick='close3()'>&times;</span>
					  <h1>Terms of Service</h1>
					  <br>
					  <p style="display:inline">Pet's Nanny is a company that provides babysitting services to live.
						  When you create an account with Pet's nanny by completing the registration process on our website. You agree to the terms that we are not responsible for any damage caused to any animal or anything else we are only responsible for coordinating the appointments.
						  If you have any questions regarding these terms and conditions, please contact us by clicking the countact us button</p>
				  </div>
  
			  </div>
  
			  <input type="button" id="myBtn" onclick="myBtn3()" value="Privecy"></input>
  
			  <!-- The Modal -->
			  <div id="myModal3" class="modal">
  
			  <!-- Modal content -->
			  <div class="modal-content">
				  <span class="close" onclick='close4()'>&times;</span>
				  <h1>Privacy Policy</h1>
				  <br>
				  <p>Thank you for visiting Daily. We think privacy is seriously important! We never sell or share any information you give us. We don’t collect or keep any data other than what’s necessary .
					  This Privacy Policy provides our policies for collecting, using, and disclosing your information and personally identifiable data (“Personal Data”).
				  </p>
				  <h3>Information We Collect</h3>
				  <p>
					  When you interact with any of our services, we collect both information you provide.
					  Information you voluntarily provide, for example when registering for a Daily account. This includes information like your email address and name
  
				  </p>
				  <h3>Why and How We Use The Data We Collect</h3>
				  <p>
					  The information you provide voluntarily is used to store the data. We retain this information until you change / remove it or until your account is deleted.
					  The settings are saved in the database.
				  </p>
				  <h3>Security</h3>
				  <p>We follow industry standards with regards to data security. We take our obligation to safeguard the data we have very seriously. </p>
				  <h3>Contacting Us</h3>
				  <p>
					  If you have any questions about this Privacy Policy, or would like us to take any action regarding the data we hold about you, please contact us at help@daily.com
				  </p>
			  </div>
  
			  </div>
		  </div>
			  <p class="footer text-center text-muted">&copy; Copyright 2020 Pets-Nanny</p>
	  </div>
  </div>
  <script>
	   function myBtn() {
	  document.getElementById('myModal').style.display ='block';
	  };
  
	  function myBtn1() {
	  document.getElementById('myModal1').style.display ='block';
	  };
  
	  function myBtn2() {
	  document.getElementById('myModal2').style.display ='block';
	  };
  
	  function myBtn3() {
	  document.getElementById('myModal3').style.display ='block';
	  };
  
	  // When the user clicks on <span> (x), close the modal
	  function close1() {
	  document.getElementById('myModal').style.display = 'none';
	  };
	  function close2() {
	  document.getElementById('myModal1').style.display = 'none';
	  };
	  function close3() {
	  document.getElementById('myModal2').style.display = 'none';
	  };
	  function close4() {
	  document.getElementById('myModal3').style.display = 'none';
	  };
  
	  // When the user clicks anywhere outside of the modal, close it
	  window.onclick = function(event) {
	  if (event.target == document.getElementsByClassName('modal')) {
		  document.getElementsByClassName('modal').style.display = 'none';
	  }
	  };
  </script>