<div class="row">
    <div class="col">
        <div class="mb-3"><label class="form-label" for="username"><strong>Full name</strong></label><input style='border-radius: 20px !important;' placeholder= "<%= fullname %>" class="form-control" type="text" id="username" name="fullname" disabled=""></div>
    </div>
    <div class="col">
        <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input style='border-radius: 20px !important;' placeholder="<%= email %>" class="form-control" type="email" id="email" name="email" disabled=""></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="mb-3"><label class="form-label" for="age"><strong>Age </strong><strong style='color: red !important; font-size: 1.2rem;'>*</strong><br></label><input class="form-control" style='border-radius: 20px !important;' type="text" id="age" placeholder="Enter your age" name="age" maxlength="2" required/></div>
    </div>
    <div class="col">
        <div class="mb-3"><label class="form-label" for="phone_number"><strong>Phone number</strong><br></label><input style='border-radius: 20px !important;' placeholder= "<%= phonenumber %>" class="form-control" type="text" name="phonenumber" disabled=""></div>
    </div>
</div>