<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css'>

<link rel='stylesheet' href='styling/portal.css'>
<link rel='stylesheet' href='styling/schedule.css'>

<!--Add free time button-->
<button class="fc-dayGridMonth-button btn btn-primary" onclick="freetimePopup()" id='plus' type='submit'>+</button>

<!--calendar-->
<div id='calendar'></div>

<!--Add free time popup-->
<form action="addFreeTime" method="post">
	<div id="freetimePopup" class="modal">
		<div class="modal-content">
			<div class="modal-title" style='font-size:xx-large; font-size:xx-large;'>
			Add free time
			<span class="close" onclick='closeFreetime()'>&times;</span>			 
			</div>
			<div id="dates">
				<div class="info-box" style='margin-left: 35px;'>
					<label for="adults">Date</label>
					<input type="date" id="date" name="date">
				</div>
				<div class="info-box">
					<label for="children">From</label>
					<select id="from" class='selectpicker' name="from">
						<% for(var i = 0 ; i < times.length ; i++) { %>
							<option><%= times[i] %></option>
						<% }; %>
					</select>
				</div>
				<div class="info-box" style='margin-right: 35px;'>
					<label for="children" class='selectpicker' name='to'>To</label>
					<select id="to" name="to">
						<% for(var i = 0 ; i < times.length ; i++) { %>
							<option><%= times[i] %></option>
						<% }; %>
					</select>
					<br>
				</div>
			</div>
			<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='add' type="submit">Add</button>
			<br>		
		</div>
	</div>
</form>

<!--Legend-->
<ul style='border-color:rgb(195, 39, 39); margin-top: 10px;'>
		<li class="Legend-item">
		  <span class="Legend-colorBox" style="background-color: green;">
		  </span>
		  <span class="Legend-label">
			Free time
		  </span>
		</li>
		<li class="Legend-item"style='margin-left:20px;'>
			<span class="Legend-colorBox" style="background-color: red;">
			</span>
			<span class="Legend-label">
			  Reservations
			</span>
		  </li>
</ul>	

<!--Statistical info button-->
<button class="fc-dayGridMonth-button btn btn-primary" onclick="statisticalPopup()" id='statis' type='submit'>Staticstical info</button>

<!--Statistical info popup-->
<div id="statisticalPopup" class="modal">
	<div class="modal-content">
		<div class="modal-title" style='font-size:xx-large; font-size:xx-large;'>
			Statistical info
			<span class="close" onclick='closepStatistical()'>&times;</span>			 
		</div>
			
		<table class="graph">
			<thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Percent</th>
				</tr>
			</thead>
			<tbody>
				<tr style="height:85%">
					<th scope="row">Keep at home</th>
					<td><span>85%</span></td>
				</tr>
				<tr style="height:23%">
					<th scope="row">Take for a walk</th>
					<td><span>23%</span></td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>
</div>

<!--Reservation info popup-->
<form action="cancelReservation" method="post">
	<div id="reservationPopup" class="modal">
		<div class="modal-content">
			<div class="modal-title" style='font-size:xx-large; font-size:xx-large; margin-bottom: 15px;'>
				Reservation Information
				<span class="close" onclick='closeReservation()'>&times;</span>			 
			</div>
			
			<span id='startR'></span>
			<span id='endR'></span>
			<span id='address'></span>
			<span id='providerFullName'></span>
			<span id='clientEmail'></span>
			<span id='providerPhone'></span>
			<span id='providerPrice'></span>
			<span id='typeOfService'></span>
			<span id='typeOfPets'></span>
			<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='add' type="submit">Cancel</button>
			<br>	
		</div>
	</div>
</form>
<form action="cancelFreeTime" method="post">
	<!--Free time info popup-->
	<div id="freePopup" class="modal">
		<div class="modal-content">
			<div class="modal-title" style='font-size:xx-large; font-size:xx-large; margin-bottom: 15px;'>
				Free Time Information
				<span class="close" onclick='closeFree()'>&times;</span>			 
			</div>
			<span name='fID' id='fID' type='text'></span>
			<span id='startF'></span>
			<span id='endF'></span>
			<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='cancel' >Cancel</button>
			<br>	
		</div>
	</div>
</form>

<!--calendar script-->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js'></script>
<script>
var calendar;
//Add free time popup
function freetimePopup() {
	document.getElementById('freetimePopup').style.display ='block';
};
// When the user clicks on <span> (x), close the modal
function closeFreetime() {
		document.getElementById('freetimePopup').style.display = 'none';
};

//Statistical info popup
function statisticalPopup() {
	document.getElementById('statisticalPopup').style.display ='block';
};
// When the user clicks on <span> (x), close the modal
function closepStatistical() {
		document.getElementById('statisticalPopup').style.display = 'none';
};

//Reservation info popup
function reservationPopup(start, end, fullname, email, phone, price, address, typeP, typeS) {
	document.getElementById("providerFullName").innerHTML = "The name of the provider \u27A1\uFE0F " + fullname;
    document.getElementById("clientEmail").innerHTML = "The email of the client \u27A1\uFE0F " +  email;
	document.getElementById("providerPhone").innerHTML = "The phone of the provider \u27A1\uFE0F " +  phone;
	document.getElementById("providerPrice").innerHTML = "The price per hour for the service \u27A1\uFE0F " +  price;
	document.getElementById("typeOfService").innerHTML = "The type of service \u27A1\uFE0F " +  typeS;
	document.getElementById("typeOfPets").innerHTML = "The type of pets \u27A1\uFE0F " +  typeP;
	document.getElementById("address").innerHTML = "The address \u27A1\uFE0F " + address;
    document.getElementById("startR").innerHTML = "The start time \u27A1\uFE0F " +  start;
	document.getElementById("endR").innerHTML = "The end time \u27A1\uFE0F " +  end;
	document.getElementById('reservationPopup').style.display ='block';
};

// When the user clicks on <span> (x), close the modal
function closeReservation() {
	document.getElementById('reservationPopup').style.display = 'none';
};

//Free time info popups
function freePopup(start, end, id) {
	document.getElementById("fID").value = id;
	document.getElementById("startF").innerHTML = "The start time \u27A1\uFE0F " +  start;
    document.getElementById("endF").innerHTML = "The end time \u27A1\uFE0F " +  end;
	//document.getElementById("pricePerHour").innerHTML = "Provider's price per hour: "+ providers[index-1].price_per_hour;
	document.getElementById('freePopup').style.display ='block';

};

// When the user clicks on <span> (x), close the modal
function closeFree() {
	document.getElementById('freePopup').style.display = 'none';
};

function cancelFreetime(){
		var event = document.getElementById("freeTimeID").value;
		event.remove();
}


document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var freeTime = Array.from(<%- JSON.stringify(freeTime) %>)
  var reservations = Array.from(<%- JSON.stringify(reservations) %>)
  calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    initialDate: new Date(),
    themeSystem: "bootstrap",
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
	
    events: freeTime.concat(reservations),
	
	eventClick: function(info) {
		if(info.event.title == "Reservation") {
			reservationPopup(info.event.start, info.event.end, info.event.extendedProps.providerName, 
		info.event.extendedProps.clientEmail, info.event.extendedProps.providerPhone, info.event.extendedProps.price, 
		info.event.extendedProps.address, info.event.extendedProps.typeP, info.event.extendedProps.typeS);
		}
		else {
			freePopup(info.event.start, info.event.end, info.event.id);
		}
		
    },
});
  calendar.render();
});

</script>