<!-- pop up for invite  -->
<div id="inviteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick='inviteClose()'>&times;</span>
        <h1>Pet’s-Nanny Reservation</h1>
        <br>
		<form action="addReservation" method="post">
			<p id="providerRef" type="text" name='providerRef'></p>
			<p id="fullname"></p>
			<p id="phonenumber"></p>
			<p  id="pricePerHour"></p>
			<p id='address'></p>
			<p id="dateR"></p>
			


			<p><center>Are you sure that want to reserve the provider?</center></p>
			<div class="invitButton">
				<button id = "confirm" type="submit"> Confirm </button>
			</div>  
		</form>
		<div class="invitButton">
			<button id = "cancel" onclick="cancelbutton()"> Cancel </button>
		</div>  
				
    </div>
</div>
<!-- pop up for message  -->
    <div id="messageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick='messageClose()'>&times;</span>
            <p> sprint 4</p>
        </div>
    </div>

<!-- pop up for profile  -->
    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick='profileClose()'>&times;</span>
            <h1>Details of the provider </h1>
            <br>
            <p  id="fullname1"></p>
            <p id="email"></p>
            <p id="phonenumber1"></p>
            <p  id="price"></p>
            <p id="areacity"></p>
            <p id="typeSe"></p>
            <p id="typePe"></p>
        </div>
    </div>


<style>
    .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
    .modal-content {
    background-color: #ffff;
    margin:  auto;
    padding-right: 30px;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    font-size: 15px;
    }

    /* The Close Button */
    .close {
	width: 15px;
    text-align: right;

    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    .modal h1{
        font-size: 40px;
        font-weight: bold;
    }
    #profileModal p{
        text-align: center;
    }

    
</style>
<script>
      
        // for table 


        var table = document.getElementById('table');
		
		for(var i = 1; i < table.rows.length; i++)
		{
			table.rows[i].onclick = function()
			{
				//rIndex = this.rowIndex;
				let temp = this.cells[0].innerHTML;
                let  u= Number(temp);
			
                var test = <%- JSON.stringify(providers) %>;
				
				var time = <%- JSON.stringify(time) %>;
				var address = <%- JSON.stringify(userData.address) %>;
                // for invite button
                document.getElementById("fullname").innerHTML = "You are about to order service from: "+test[u-1].fullname;
                document.getElementById("phonenumber").innerHTML = "The phone number of the provider is :"+ test[u-1].phonenumber;
				document.getElementById("pricePerHour").innerHTML = "The Price that the provider takes per hour: "+ test[u-1].price_per_hour;
				document.getElementById("address").innerHTML = "The address is: "+ address;
				document.getElementById("dateR").innerHTML = "Date :" + time.date + "	From: " + time.from + "	To: " + time.to;
				document.getElementById("providerRef").innerHTML = test[u-1].email;

	            // for profile button
                document.getElementById("fullname1").innerHTML = "Full Name of the provider :"+test[u-1].fullname;
                document.getElementById("phonenumber1").innerHTML = "Phone Number of the provider:"+ test[u-1].phonenumber;
                document.getElementById("price").innerHTML = "The Price that the provider takes per hour: "+ test[u-1].price_per_hour;
                document.getElementById("areacity").innerHTML = "Areas and cities where the provider give service: "+ test[u-1].area_city;
                document.getElementById("typeSe").innerHTML = "The services that the provider provides are: "+ test[u-1].type_of_service;
                document.getElementById("typePe").innerHTML = "The pets that the provider wants to keep them: "+ test[u-1].type_of_pet;
                document.getElementById("email").innerHTML = "The email: "+ test[u-1].email;
				
			}
        }
 
    
    function invitebtn() {
    	document.getElementById('inviteModal').style.display ='block';
    };

    function messagebtn() {
    	document.getElementById('messageModal').style.display ='block';
    };

    function profilebtn() {
    	document.getElementById('profileModal').style.display ='block';
    };



    // When the user clicks on <span> (x), close the modal
    function inviteClose() {
    	document.getElementById('inviteModal').style.display = 'none';
    };
    function messageClose() {
    	document.getElementById('messageModal').style.display = 'none';
    };
    function profileClose() {
    	document.getElementById('profileModal').style.display = 'none';
    };


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
		if (event.target == document.getElementsByClassName('modal')) {
			document.getElementsByClassName('modal').style.display = 'none';
		}
    };

    function cancelbutton() {
  		document.getElementById('inviteModal').style.display = 'none';
	};



</script>