<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<link rel="stylesheet" href="styling/index.css"></link>


</head>
<body class="container">

<header>
	<%- include('../partials/header_loggedin'); %>

</header>

<main>
	  <div class="row">
		<div class="col-sm-8">
			<div class="jumbotron">
				<h1>My message</h1>
				<!--<form id='myMessage' action="/" method="post">
				
				</form>-->
				<div class="card-body">
					<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
						<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='inbox' onclick="" type="submit">Inbox</button>
						<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='sent' onclick="" type="submit">Sent</button>
						<br><br>
						<table class="table my-0" id="dataTable">
							<thead>
								<tr>
									<th class="text-center">Name</th>
									<th class="text-center">Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">Airi Satou</td>
									<td class="text-center">10/10/2022</td>
								</tr>
								<tr></tr>
								<tr>
									<td class="text-center">Ashton Cox</td>
									<td class="text-center">10/10/2022<br></td>
								</tr>
								<tr>
									<td class="text-center">Bradley Greer</td>
									<td class="text-center">10/10/2022<br></td>
								</tr>
								<tr>
									<td class="text-center">Brenden Wagner</td>
									<td class="text-center">10/10/2022<br></td>
								</tr>
								<tr>
									<td class="text-center">Brielle Williamson</td>
									<td class="text-center">10/10/2022<br></td>
								</tr>
								<tr>
									<td class="text-center">Bruno Nash<br></td>
									<td class="text-center">10/10/2022<br></td>
								</tr>
								<tr>
									<td class="text-center">Caesar Vance</td>
									<td class="text-center">10/10/2022<br></td>
								</tr>
								<tr>
									<td class="text-center">Cara Stevens</td>
									<td class="text-center">10/10/2022<br></td>
								</tr>

							</tbody>
							<tfoot>
							</tfoot>
						</table>
					</div>
					
				</div>
			</div>
		</div>
		<%- include('../partials/sidebar'); %>
	</div>
</div>
<style>
	.jumbotron{
		width: 1250px;
	}
	#inbox, #sent{
		width: 20%;
		height: 40px;
		margin: 10px auto;
		justify-content: center;
		/*display: block;*/
		color: #fff;
		background: #573b8a !important;
		font-size: 2rem;
		font-weight: bold;
		outline: none;
		border: none;
		border-radius: 10px !important;
		transition: .2s ease-in;
		cursor: pointer;
	}

</style>
</main>

<footer>
	<%- include('../partials/footer'); %>
</footer>
  
</body>
</html>