<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<link rel="stylesheet" href="styling/index.css"></link>


</head>
<body class="container">
<style>
	.la{
		padding-left: 40% !important;
	}
</style>
<header>
	<%- include('../partials/header_loggedin'); %>
</header>

<main>
	<div class="row">
		<div class="col-sm-8">
		  <div class="jumbotron">
			<h1>My setting</h1>
			<div class='row'>
				<h3 style='font-weight: bold; margin-left:40%;'>Change your password</h3>
			</div>
			<form action="changePassword" method="post">
			<div class="row">
				<div class="col">
					<div class="mb-3"><label class="form-label la" for="cpassword"><strong>Current password</strong></label><input name='cpassword' placeholder="••••••" class="form-control" type="text" id="cpassword" name="cpassword"></div>
				</div>
				<div class="col">
					<div class="mb-3"><label class="form-label la" for="npassword"><strong>New password</strong></label><input name='npassword' placeholder="••••••" class="form-control" type="text" id="npassword" name="npassword"></div>
				</div>
			</div>
			<br>
				<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='changep' type="submit">Change</button>
			</form>	
						
			<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='open' onclick="popupp()" type="submit">Delete my account</button>
			<!-- The Modal -->
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" onclick='closep()'>&times;</span>
						<h2>Are you sure that you want to delete your account?</h2>
						<br>
						<form action="deleteAccount" method="post">
							<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='yes' type="submit">Yes</button>
						</form>
						<button class="btn btn-primary btn-sm border rounded-pill float-center align-content-center" id='no' onclick="closep()" type="submit">No</button>

					</div>
				</div>
		  </div>
		</div>
		<%- include('../partials/sidebar'); %>
	  </div>

	  <style>
		.jumbotron{
			width: 1250px;
		}
		#changep, #open, #yes, #no{
			width: 22%;
			height: 40px;
			margin: 10px auto;
			justify-content: center;
			display: block;
			color: #fff;
			background: #573b8a;
			font-size: 2rem;
			font-weight: bold;
			margin-top: 15px;
			outline: none;
			border: none;
			border-radius: 10px;
			transition: .2s ease-in;
			cursor: pointer;
		}
		#changep:hover, #open:hover{
			background: #6d44b8;
	
		}
		main .modal-content {
			margin:  auto;
			margin-top: 10%;
			padding-right: 30px;
			padding: 20px;
			/*border: 1px solid #888;*/
			width: 60%;
			text-align: center;
			font-size: 22px;
		
		}
		main .close {

		text-align: right;
		width: 15px;
		color: black;
		float: right;
		font-size: 28px;
		font-weight: bold;
		}

		main .close:hover,
		.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
		}

	
	</style>	
<script>
	function popupp() {
   document.getElementById('myModal').style.display ='block';
   };

   // When the user clicks on <span> (x), close the modal
   function closep() {
   document.getElementById('myModal').style.display = 'none';
   };
   
   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
   if (event.target == document.getElementsByClassName('modal')) {
	   document.getElementsByClassName('modal').style.display = 'none';
   }
   };
</script>
</main>
<footer>
	<%- include('../partials/footer'); %>
</footer>
  
</body>
</html>