.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 28px;
    z-index: 1;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}