
    footer .bottom-nav{
        font-family: "Nunito";
        background-color: #3E3E3E;
    	position:fixed;
        bottom: 0;
		width: 100%;
		max-height: 80px;


    }
    footer input{
        background-color:#3E3E3E ;
        font-family: "Nunito";
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 30px;
        margin-top: 0;
        text-decoration: none;
        border: none;
            
    }
    footer .bottom-nav .container{
        max-width: 995px;
        display: flex;
        justify-content: space-between;
    }


    footer .copyright-text{
        font-family: "Nunito";
        background-color: #2B2B2B;
        color: #E0E0E0;
        height: 60px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        letter-spacing: 0.4px;
        line-height: 22px;
        align-items: center;
    }

    
    footer p{
        text-align: center;

    }
  
   
    footer button { 
        background-color:#3E3E3E ;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 26px;
        margin-top: 0;

        text-decoration: none;
        border: none;
    }

    footer .modal {
		background-color: #ffff;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content */
footer .modal-content {

	background-color: #ffff;
	margin: auto;
	padding-right: 30px;
	padding: 20px;
	/*border: 1px solid #888;*/
	width: 60%;
	text-align: center;
	font-size: 15px;
  
  }

footer h5{
	text-align: left;
	
	
}
  /* The Close Button */
footer .close {

	text-align: right;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
footer .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
