
    footer .bottom-nav{
        font-family: "Nunito";
        background-color: #3E3E3E;
    	position:fixed;
        bottom: 0;
		width: 100%;
		max-height: 80px;
    }
    footer input{
        background-color:#3E3E3E ;
        font-family: "Nunito";
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 30px;
        margin-top: 0;
        text-decoration: none;
        border: none;
            
    }
    footer .bottom-nav .container{
        max-width: 995px;
        display: flex;
        justify-content: space-between;
    }
    footer .copyright-text{
        font-family: "Nunito";
        background-color: #2B2B2B;
        color: #E0E0E0;
        height: 60px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        letter-spacing: 0.4px;
        line-height: 22px;
        align-items: center;
    }
    
    footer p{
        text-align: center;
    }
  
   
    footer button { 
        background-color:#3E3E3E ;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 26px;
        margin-top: 0;
        text-decoration: none;
        border: none;
    }

  
	/* Modal Content */
	footer .modal-content {
		margin:  auto;
		margin-top: 10%;
		padding-right: 30px;
		padding: 20px;
		width: 60%;
		text-align: center;
		font-size: 15px;
	
	}

	footer h1{
		color: #573b8a;

		
	}
	/* The Close Button */
	footer .close {
		text-align: right;
		color: black;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	
	footer .close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
