@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);

.temp{

	max-width: 100%;
	min-height: 100% !important;
	font-family: "Nunito" !important;
}


/* search table  */
#search-form {
    border: 1px solid #573b8a;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
	border-radius: 20px;
}

#header {
    height: 80px;
    background-image: linear-gradient(180deg, #573b8a 10%, #8260c1 100%);	border: 4px solid #DDD; 
	display: flex;
    justify-content: flex-start;
    align-items: center;
	border-radius: 20px;
}
#header h1 {
    color: #FFF;
    margin-left: 20px;
    font-size: 1.3em
}

.searchT input, select {
    color: #6B6A6A;

}

.info-box {
	margin-left: 15%;
    padding: 10px 0;
    margin-top: 1%;
    flex: 1;
    border-right: 20px solid transparent;

}

.info-box:last-child {
    border-right: none;
}
.info-box label {
    display: block;
    color: #6B6A6A;
    font-size: 1em;
}

.info-box input[type=text], input[type=submit] {
    border: none;
    outline: none;
    background-color: #d2bee1;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    height: 15px;
    border-radius: 3px;
    color: white;
}
/* for dropdwon  */
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    font-size: initial;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    font-size: initial;
}
#type {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px dotted silver;
}
#type .info-box {
    flex: 0 1 25%;
    display:flex;
    align-items: center;
}

#depart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted silver;
}
#depart .info-box {
    position: relative;
}
#depart-res, #arrive-res {
    position: absolute;
    background: #FFFFFF;
}
#depart-res p, #arrive-res p {
    padding: 7px 2px;
    border-bottom: 1px dotted silver;
}
#depart-res p:hover, #arrive-res p:hover {
    background: #EDEDED;
    cursor: pointer;
}

#dates {
    display: flex;
   border-bottom: 1px dotted silver;
}


#info {
    display: flex;
    border-bottom: 1px dotted silver;
}

#search .info-box {
    display: flex;
    justify-content: center;
}


#field_2.jumbotron.text-center.disabledbutton{
    padding: 0px;
}

.info-box select{
    margin-top: 0px;
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    outline-width: 10px;
    border-width: 1px;
    border-bottom-color: black;

}
.bs-caret{
    display: none;
}
#slidebarInput{
	padding: 0px !important;
    background-color:rgb(201 201 201 / 46%);
}

button.search{
	width: 30%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button.search:hover{
	background: #6d44b8;
}
/* area sity delet to icon  */
.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 28px;
    z-index: 1;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px;
}
/*
range-bar*/

.slidecontainer{
	background-color: rgb(220 220 220);
}
.jumbotron p{
  margin-bottom: 0px !important;
  font-size: small;
  background-color: rgb(220 220 220);
}
.slidecontainer p {
  margin-top: -20px;
  
}
#tableButton {
	background: #573b8a !important;
	border-color: #573b8a !important;
	color: #ffff;
	font-weight: bold;
	border-radius: 5px;
}
input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
    line-height: 1.1 !important;
	border-radius: 3px !important;
	border-color: unset !important;
}
/* search table end */